<ion-header no-border class="header-custom">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <skeleton-element height="320px" noAnimated="true"></skeleton-element>
  <div padding>
    <skeleton-element height="24px"></skeleton-element>
    <skeleton-element height="24px" width="67%" style="margin-bottom: 12px"></skeleton-element>
    <skeleton-element height="14px"></skeleton-element>
    <skeleton-element height="14px"></skeleton-element>
    <skeleton-element width="67%"></skeleton-element>
  </div>
  <div padding>
    <skeleton-element height="52px" borderRadius="8px"></skeleton-element>
  </div>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <skeleton-element height="36px" width="36px" rounded="true"></skeleton-element>
    </ion-avatar>
    <ion-label>
      <skeleton-element height="16px" width="67%"></skeleton-element>
    </ion-label>
  </ion-item>
</ion-content>
