<ion-header no-border class="header-custom">
  <ion-toolbar color="pinterest">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <skeleton-element height="44px" width="44px" rounded="true"></skeleton-element>
          </ion-col>
          <ion-col>
            <skeleton-element height="22px" width="80%"></skeleton-element>
            <skeleton-element height="10px"></skeleton-element>
            <skeleton-element height="10px" width="67%"></skeleton-element>
          </ion-col>
          <ion-col size="auto">
            <skeleton-element width="60px" height="60px"></skeleton-element>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <skeleton-element height="44px" width="44px" rounded="true"></skeleton-element>
          </ion-col>
          <ion-col>
            <skeleton-element height="22px" width="80%"></skeleton-element>

            <ion-row margin-top>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <skeleton-element height="44px" width="44px" rounded="true"></skeleton-element>
          </ion-col>
          <ion-col>
            <skeleton-element height="22px" width="80%"></skeleton-element>
            <skeleton-element height="10px"></skeleton-element>
            <skeleton-element height="10px" width="67%"></skeleton-element>
          </ion-col>
          <ion-col size="auto">
            <skeleton-element width="64px" height="64px"></skeleton-element>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <skeleton-element height="44px" width="44px" rounded="true"></skeleton-element>
          </ion-col>
          <ion-col>
            <skeleton-element height="22px" width="80%"></skeleton-element>
            <skeleton-element height="10px"></skeleton-element>
            <skeleton-element height="10px" width="67%"></skeleton-element>
          </ion-col>
          <ion-col size="auto">
            <skeleton-element width="64px" height="64px"></skeleton-element>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <skeleton-element height="44px" width="44px" rounded="true"></skeleton-element>
          </ion-col>
          <ion-col>
            <skeleton-element height="22px" width="80%"></skeleton-element>
            <skeleton-element height="10px"></skeleton-element>
            <skeleton-element height="10px" width="67%"></skeleton-element>
          </ion-col>
          <ion-col size="auto">
            <skeleton-element width="64px" height="64px"></skeleton-element>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <skeleton-element height="44px" width="44px" rounded="true"></skeleton-element>
          </ion-col>
          <ion-col>
            <skeleton-element height="22px" width="80%"></skeleton-element>

            <ion-row margin-top>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <skeleton-element height="44px" width="44px" rounded="true"></skeleton-element>
          </ion-col>
          <ion-col>
            <skeleton-element height="22px" width="80%"></skeleton-element>

            <ion-row margin-top>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
              <ion-col>
                <skeleton-element height="60px"></skeleton-element>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
