:host {
  .toolbar-search {
    ion-searchbar {
      --placeholder-font-weight: 700;
      --cancel-button-color: var(--ion-color-medium);
      height: 28px;
    }
  }

  .pin-item {
    margin: 4px;
    margin-bottom: 24px;
  }
}
