<ion-header>
  <ion-toolbar color="white" class="toolbar-search">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="medium">
        <ion-icon name="chatbubbles" slot="icon-only" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="pin-container">
      <ion-col>
        <div class="pin-item">
          <skeleton-element height="220px" borderRadius="8px" style="margin-bottom: 12px" no-animated></skeleton-element>
          <skeleton-element height="12px" width="67%"></skeleton-element>
        </div>
        <div class="pin-item">
          <skeleton-element height="120px" borderRadius="8px" style="margin-bottom: 12px" no-animated></skeleton-element>
          <skeleton-element height="12px" width="67%"></skeleton-element>
        </div>
        <div class="pin-item">
          <skeleton-element height="180px" borderRadius="8px" style="margin-bottom: 12px" no-animated></skeleton-element>
          <skeleton-element height="12px" width="67%"></skeleton-element>
        </div>
      </ion-col>
      <ion-col>
        <div class="pin-item">
          <skeleton-element height="150px" borderRadius="8px" style="margin-bottom: 12px" no-animated></skeleton-element>
          <skeleton-element height="12px" width="67%"></skeleton-element>
        </div>
        <div class="pin-item">
          <skeleton-element height="240px" borderRadius="8px" style="margin-bottom: 12px" no-animated></skeleton-element>
          <skeleton-element height="12px" width="67%"></skeleton-element>
        </div>
        <div class="pin-item">
          <skeleton-element height="100px" borderRadius="8px" style="margin-bottom: 12px" no-animated></skeleton-element>
          <skeleton-element height="12px" width="67%"></skeleton-element>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="white">

  </ion-toolbar>
</ion-footer>
