<ion-header no-border class="header-custom">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Table
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-muted">
  <table class="ionic-table">
    <colgroup>
      <col style="width:10%">
      <col style="width:60%">
      <col style="width:30%">
    </colgroup>
    <thead>
      <tr>
        <th>
          <skeleton-element width="16px"></skeleton-element>
        </th>
        <th>
          <skeleton-element></skeleton-element>
        </th>
        <th>
          <skeleton-element></skeleton-element>
        </th>
      </tr>
    </thead>
    <tr *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
      <td>
        <skeleton-element width="16px"></skeleton-element>
      </td>
      <td>
        <skeleton-element></skeleton-element>
      </td>
      <td>
        <skeleton-element></skeleton-element>
      </td>
    </tr>
  </table>
</ion-content>
